@import "./../../reset.css";

:root {
  --gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  --family: Lato, sans-serif;
  --a-font-size: 18px;
  --old-price-color: #666;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

main {
  width: 100vw;
}

.options {
  flex: 0 0 28%;
}

.products-cont {
  flex: 0 0 72%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 40px;
}

.product {
  box-shadow: var(--shadow);
  font-family: var(--family);
  font-size: var(--a-font-size);
}

.item-img {
  width: 250px;
}

.old-price {
  color: var(--old-price-color);
}

.offer {
  background: var(--gradient);
}
