@import "./../../reset.css";
@import "./product.css";

:root {
  --gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  --family: Lato, sans-serif;
  --a-font-size: 18px;
  --old-price-color: #666;
  --round-radius: 3px;
  --primary-color: #1e516c;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

body {
  box-sizing: border-box;
}

main {
  width: 100vw;
  font-family: var(--family);
  padding: 30px 0;
}

main > * {
  width: 100%;
}
