@import "./../../../reset.css";
@import "./../../aside-options.css";
@import "./../../aside-product.css";

* {
  box-sizing: border-box;
}

:root {
  --gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  --family: Lato, sans-serif;
  --a-font-size: 18px;
  --old-price-color: #666;
  --round-radius: 3px;
  --primary-color: #1e516c;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

main {
  width: 100vw;
  font-family: var(--family);
  padding: 30px 0;
}

main > * {
  width: 100%;
}

.links,
h2 {
  width: fit-content;
  margin: auto;
  color: var(--primary-color);
}

.links a {
  cursor: pointer;
}

.options {
  flex-basis: 40%;
  padding: 50px 0 0 30px;
}

.product {
  height: fit-content;
  box-shadow: none;
  padding: 0;
}

.product h3 {
  color: #313131;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.item-img {
  display: block;
  padding: 6px 0;
  width: 230px;
  margin: auto;
  box-shadow: var(--shadow);
}

p {
  font-size: 16px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border-radius: none;
  margin-right: 20px;
}

.products-cont {
  flex-basis: 60%;
}
