#brand {
    gap: 10px;
    width: 85%;
    min-height: 200px;
    margin: auto;
    grid-template-rows: repeat(3, minmax(30%, 1fr));
    grid-template-areas: "bran1" "bran2" "bran3";
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 20px;
}

#brand1 {
    grid-area: bran1;
    display: grid;
    grid-template-columns: repeat(8, minmax(7%, 1fr));
    grid-template-areas: "b1 b2 b3 b4 b5 b6 b7 b8";
}

#brand2 {
    grid-area: bran2;
    display: grid;
    grid-template-columns: repeat(8, minmax(7%, 1fr));
    grid-template-areas: "b1 b2 b3 b4 b5 b6 b7 b8";
}

#brand3 {
    grid-area: bran3;
    display: grid;
    grid-template-columns: repeat(8, minmax(7%, 1fr));
    grid-template-areas: "b1 b2 b3 b4 b5 b6 b7 b8";
}

.b1 {
    grid-area: b1;
}

.b2 {
    grid-area: b2;
}

.b3 {
    grid-area: b3;
}

.b4 {
    grid-area: b4;
}

.b5 {
    grid-area: b5;
}

.b6 {
    grid-area: b6;
}

.b7 {
    grid-area: b7;
}

.b8 {
    grid-area: b8;
}

.icon-size {
    width: 120px;
}

.b1:hover,
.b2:hover,
.b3:hover,
.b4:hover,
.b5:hover,
.b6:hover,
.b7:hover,
.b8:hover {
    transform: scale(1.1);
}