/* @import "./src/css/reset.css"; */

@import "./kitchen.css";
@import "./others.css";
@import "./topbar.css";
@import "./footer.css";
* {
    box-sizing: border-box;
}

#cont {
    margin-left: 20px;
}

.disp-grid {
    display: grid;
}

#home-top {
    margin-top: 200px;
    gap: 0px;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "lo mo ro";
    margin-bottom: 0%;
}

#home-top>#left-one {
    grid-area: lo;
    position: relative;
}

#home-top>#mid-one {
    background-color: aliceblue;
    grid-area: mo;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(236, 81, 81);
    height: 375px;
}

#home-top>#mid-one:hover {
    color: rgb(60, 7, 65);
}

#home-top>#mid-one>img {
    width: 350px;
    height: 250px;
}

#home-top>#right-one {
    grid-area: ro;
    position: relative;
}

.im-size {
    max-width: 100%;
    height: auto;
}

#home-top button {
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    color: rgb(233, 233, 131);
    background-color: rgb(6, 6, 73);
}

#home-top button:hover {
    transform: scale(1.02);
    color: antiquewhite;
    background-color: brown;
}

#left-one>button {
    position: absolute;
    top: 60%;
    left: 40%;
}

#right-one>button {
    position: absolute;
    top: 60%;
    left: 15%;
}

.logo {
    width: 100%;
    height: 100px;
    padding-top: 30px;
    padding-left: 33%;
    margin-bottom: 20px;
}

.logo>img {
    margin-left: 40px;
    margin-right: 40px;
}

.logo>span {
    color: rgb(11, 18, 116);
    font-size: 27px;
    font-weight: 700;
}

#home-ft {
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 10px;
    width: 100%;
    max-height: 375px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template: "mf wf kf";
    box-shadow: 0 4px 8px 0 rgba(17, 33, 78, 0.2), 0 6px 20px 0 rgba(22, 13, 107, 0.596);
}

.mf {
    grid-area: mf;
}

.wf {
    grid-area: wf;
}

.kf {
    grid-area: kf;
}

.mf:hover,
.wf:hover,
.kf:hover {
    transform: scale(1.01);
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.foot {
    max-width: 475px;
    height: 375px;
}

#shoes {
    margin-top: 10px;
    gap: 10px;
    width: 100%;
    min-height: 200px;
    grid-template-columns: repeat(5, minmax(15%, 1fr));
    grid-template-areas: "sp1 sp2 sp3 sp4 sp5";
    margin-bottom: 20px;
}

.sp1 {
    grid-area: sp1;
}

.sp2 {
    grid-area: sp2;
}

.sp3 {
    grid-area: sp3;
}

.sp4 {
    grid-area: sp4;
}

.sp5 {
    grid-area: sp5;
}

.sizes {
    max-width: 275px;
    height: 390px;
    box-shadow: 0 4px 8px 0 rgba(22, 24, 32, 0.2), 0 6px 20px 0 rgba(21, 19, 36, 0.596);
}

.sizes:hover {
    transform: scale(1.02);
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

@media only screen and (max-width: 1200px) {
    #home-top {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "lo mo ro";
        max-height: 300px;
    }
    #home-top>#mid-one>img {
        max-width: 150px;
        max-height: 100px;
    }
    #mid-one {
        min-height: 100px;
    }
    #left-one>button {
        /* position: relative; */
        top: 56%;
        left: 10%;
    }
    #right-one>button {
        /* position: relative; */
        top: 56%;
        left: 7%;
    }
    .logo {
        width: 100%;
        height: 100px;
        padding-top: 20px;
        padding-left: 20%;
        margin-bottom: 20px;
    }
    .foot {
        max-width: 300px;
        height: 200px;
        box-shadow: 0 4px 8px 0 rgba(25, 28, 37, 0.2), 0 6px 20px 0 rgba(28, 26, 44, 0.596);
    }
    #shoes {
        margin-top: 10px;
        gap: 5px;
        min-width: 50%;
        min-height: 200px;
        grid-template-columns: repeat(5, minmax(15%, 1fr));
        grid-template-areas: "sp1 sp2 sp3 sp4 sp5";
        margin-bottom: 20px;
    }
    .sizes {
        max-width: 175px;
        max-height: 200px;
        box-shadow: 0 4px 8px 0 rgba(14, 16, 20, 0.2), 0 6px 20px 0 rgba(15, 14, 20, 0.596);
    }
    .facilities {
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;
        margin-left: 5%;
        /* width: 80%; */
        box-shadow: 0 4px 8px 0 rgba(17, 33, 78, 0.2), 0 6px 20px 0 rgba(32, 28, 70, 0.596);
        margin-right: 5%;
    }
    .facilities>img {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1010px) {
    .icon-size {
        width: 80px;
    }
}

@media only screen and (max-width: 805px) {}