:root {
  --gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  --family: Lato, sans-serif;
  --a-font-size: 16px;
  --round-radius: 3px;
  --primary-color: #1e516c;
  --button-background: #ffce61;
}

a:hover {
  color: #d1a442 !important;
}

input,
button {
  outline: none;
  background: none;
  border: none;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

.display-none {
  display: none;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  left: -20px;
}

.fa-user-circle,
.fa-cart-plus {
  color: var(--primary-color);
  font-size: 25px !important;
  margin: 0 10px;
}

i {
  font-weight: normal !important;
  font-size: 10px !important;
  margin-left: 3px;
}

header {
  padding: 5px 20px;
  /* border: 1px solid blue; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: var(--family);
  background-color: #fff;
  z-index: 10;
}

.top-nav {
  justify-content: space-between;
  width: 100%;
  display: flex;
  align-items: center;
}

.uboric-logo {
  width: 200px;
}

.uboric-logo > img {
  width: 100%;
}

.query-box {
  flex-basis: 30%;
  width: fit-content;
  align-items: center;
  border: 1px solid gray;
  border-radius: 3px !important;
}

.query-box > * {
  display: block;
}

.query-box > input {
  height: fit-content !important;
  border-right: none !important;
  flex-grow: 1;
  font-size: 20px;
  padding: 0 15px;
}

input::placeholder {
  color: black;
  font-size: 13px;
  padding: 0 20px;
}

.query-box .fa-search {
  background: var(--button-background) !important;
  font-size: 18px;
  padding: 8px 10px;
  color: gray;
  font-size: 20px !important;
}

.nav-bar {
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 0;
}

.nav-bar div > a {
  font-weight: normal;
  color: black;
  font-size: var(--a-font-size);
  text-decoration: none;
}

.nav-bar a + img {
  margin-left: 7%;
  padding-top: 10px;
  width: 200px;
}

.sub-cat {
  width: 200px;
  background-color: #ffffff;
  padding: 20px;
  display: block;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 5%);
}

.login {
  float: right;
  margin: 2.5%;
}

.addcart {
  float: right;
  margin: 2.5%;
}

.foot-wear {
  color: grey;
}

.mens,
.kitchenEle,
.health_contain,
.offerCon,
.headphone-con {
  display: none;
  flex-direction: column;
}

.mens a,
.kitchenEle a,
.health_contain a,
.headphone-con a {
  font-size: 14px;
  margin: 10px 0;
}

.signup {
  left: -17vw;
  width: 300px;
  /* transition: all; */
  background-color: #fff;
  flex-direction: column;
  z-index: 20;
  padding: 30px;
}

.signup h1 {
  font-size: 40px;
  color: var(--primary-color);
}

.signup p {
  text-align: center;
  color: black;
  margin-top: 20px;
}

.signup i {
  font-size: 30px !important;
}

.signup label {
  font-size: 20px;
  color: gray;
}

.signup input {
  margin-bottom: 20px;
  font-size: 23px;
  border: 1px solid rgb(194, 194, 194);
}

.signup button {
  text-align: center;
  border: 2px solid black;
  border-radius: var(--round-radius);
  background-color: var(--button-background);
  font-size: 21px;
}

.signup {
  display: none;
}
