@import "./../../reset.css";
@import "./../aside-product.css";
@import "./../aside-options.css";
@import "./../../home/topbar.css";
@import "./../../home/footer.css";

* {
  box-sizing: border-box;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

main {
  width: 100vw;
  font-family: var(--family);
  padding: 30px 0;
}

.product {
  height: fit-content;
}

.item-img {
  display: block;
  width: 100% !important;

  height: 100%;
}

.product > div:first-of-type {
  width: 200px;
  height: 180px;
  margin: auto;
}
