


#footer1{
    height: 70vh;
    width: 100%;
    background-color: rgb(105, 105, 32);
    color: white;
    margin: auto;
    display: grid
}
.footer_top{
    text-align: center;
    font-size: 20px;
padding-top: 20px;
grid-template: 'he he he';
}
.footer_para{
    font-size: 25px;
    text-align: center;
    padding:0% 10%;
    margin-top: -80px;
    grid-template: 'para para para';
}
.footer_name{
    font-size: 20px;
    text-align: center;
     margin-top: -40px;
    grid-template: 'na na na';

}
.footer_button{
    height: 50px;
    width: 12%;
    text-align: center;
    background-color: rgba(233, 198, 44, 0.603);
    color: white;
    margin: auto;
    margin-top: -80px;
    
}
.footer_star{
    font-size: 20px;
    margin: auto;
    color: white;
    margin-top: -80px;
}

#footer2{
    background-color: black;
    height:50vh;
    width: 100%;
}

