.nav-bar {
    width: 100%;
    position: fixed;
    top: 0%;
    padding-bottom: 1%;
    background-color: white;
    padding-left: 10px;
    z-index: 100;
}

.nav-bar div>a {
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    margin: 0.5%;
    margin-right: 0.5%;
}

.nav-bar a+img {
    margin-left: 7%;
    padding-top: 10px;
    width: 200px;
}

.nav-bar div>i {
    padding: 0.5%;
    color: black;
    font-size: 15px;
    margin-right: 0;
    font-weight: 300;
}

.nav-bar>div {
    float: left;
    width: 10%;
}

.login {
    float: right;
    margin: 2.5%;
}

.addcart {
    float: right;
    margin: 2.5%;
}

.display-none {
    display: none;
    width: 5%;
    height: 3%;
    text-align: center;
}

.foot-wear {
    color: grey;
}

.mens {
    display: none
}

.mens {
    width: 200px;
    background-color: rgb(241, 232, 232);
    color: grey;
    margin: 10px;
}

.kitchen_container {
    color: grey;
}

.kitchenEle {
    display: none;
}

.health_contain {
    display: none;
}

.offerCon {
    display: none;
}
.signup{
    height: 500px;
    left: -200px;
    width: 300px;
    transition: all;
    background-color: whitesmoke;
    
}
.signup h1{
    padding: 8%;
    font-size: 40px;
    color: rgb(42, 42, 92);
}
.signup p{
text-align: center;

}
.signup label{
padding: 8%;
font-size: 20px;
color: gray;

}
.signup input{
    font-size: 20px;
    padding:1.2% 4%;
    margin:20px 8%;
}
.signup button{
  text-align: center;
  width: 280px;
  background-color: orange;
  font-size: 21px;
  margin: 20px 8%;
}
.signup{
  display: none;
}
.position-relative{
position: relative;
}
.position-absolute{
position: absolute;
}