@import "./../../reset.css";
@import "./../aside-options.css";
@import "./../aside-product.css";
@import "./../../home/topbar.css";

* {
  box-sizing: border-box;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

main {
  width: 100vw;
  font-family: var(--family);
  padding: 30px 0;
}

.item-img {
  width: 230px;
  height: 160px;
  margin: auto;
}

.offer {
  position: absolute;
  top: 18px;
  padding: 8px 5px;
}
