h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 30px;
}

.links > a {
  display: inline-block;
  cursor: pointer;
  color: var(--primary-color);
  margin: 10px;
  text-decoration: none;
}

.products-cont {
  flex-grow: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 35px;
  padding: 40px;
  height: fit-content;
}

.product {
  box-shadow: var(--shadow);
  position: relative;
  font-size: var(--a-font-size);
  padding: 30px 0;
  text-align: center;
  border-radius: var(--round-radius);
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  cursor: pointer;
}

.gallery {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
}

.item-img {
  width: 230px;
  margin: auto;
}

.price {
  margin-top: 10px;
  position: relative;
  bottom: 0;
}

.old-price {
  color: var(--old-price-color);
  margin: 0 10px;
}

.line-through {
  position: absolute;
  display: inline-block;
  width: 80px;
  border-bottom: 1px solid var(--old-price-color);
  transform: rotate(-8deg);
  top: 10px;
  left: 45px;
}

.new-price {
  font-weight: bold;
}

.offer {
  background: var(--gradient);
  width: fit-content;
  padding: 5px;
  border-radius: var(--round-radius);
  font-size: 14px;
  color: white;
  margin-left: 10px;
}

.price-slider {
  position: relative;
}

#the {
  background-color: white !important;
  margin: auto;
  width: 100%;
}

#connect-price {
  position: absolute;
  width: 70%;
  left: 50%;
  top: 6%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.3);
}

.price-range {
  width: 90%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  position: absolute;
}

.price-range p {
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: white;
  font-size: 14px;
}

.gallery {
  display: none;
}
