@import "./../../reset.css";
@import "./../aside-options.css";
@import "./../aside-product.css";
@import "./../../home/footer.css";

* {
  box-sizing: border-box;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

main {
  width: 100vw;
  font-family: var(--family);
  padding: 30px 0;
}

.item-img {
  width: 290px;
  margin: auto;
}

.category {
  box-shadow: var(--shadow);
  height: 100%;
  padding: 10px 0;
}

article,
.tags {
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  text-align: center;
}

.products-cont {
  flex-direction: column;
}

.tags a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}
