
#the{
	margin: 0;
	padding: 0;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e5e5e5;
}

.middle {
	position: relative;
	width: 110%;
	max-width: 320px;
}

.slider {
	position: relative;
	z-index: 1;
	height: 5px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #7f7f80;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px; 
	background-color: #858585;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 10px;
	height: 10px;
	background-color: #ee3800;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(71, 71, 71, 0.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-5px, -3px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(5px, -3px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(83, 83, 83, 0.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px rgba(53, 53, 53, 0.2);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}
